*
  box-sizing border-box

.app
  position relative

.board
  position absolute
  left 20px
  top 20px

  .grid
  .star
    position absolute
    left 0
    top 0
    border 1px solid #424242

.controller
  position absolute
  left 600px
  top 20px
